.hotspotInput {
  margin-bottom: 0.25rem;
  display: block;
  padding: 0.75em 1em;
  font-size: 1.5em;
  font-family: Courier, monospace;
}

.isBanned_container {
  border: '1px solid #ccc';
  padding: '1rem';
  margin-top: '1rem';
}

.isBanned_pk {
}
.publicKeyTruncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 10vw;
}
