.bancheckContainer {
  padding: 1rem;
  width: 100%;
}

.inputGroup {
  box-shadow: 0 3px 8px -3px #00000014;
  border-radius: 8px;
  box-sizing: content-box;
}
.inputGroup:focus-within {
  outline: 2px solid var(--ifm-color-primary-lightest);
}

.inputLabel {
  display: block;
  color: #53627c;
  background: #eaeff9;

  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border-radius: 8px 8px 0 0;
}
[data-theme='dark'] .inputLabel {
  color: #eee;
  background: #ffffff1a;
}

.hotspotInput {
  display: block;
  margin-bottom: 0.25rem;
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 1.5em;
  font-family: Courier, monospace;
  background: var(--ifm-background-color);
  border: none;
  border-radius: 0 0 8px 8px;
}
.hotspotInput::placeholder {
  text-decoration: underline;
  text-underline-offset: 0.18em;
}
.hotspotInput:focus {
  outline: none;
}

.successNotice,
.inputSuggestion,
.fetchError {
  display: block;
  color: #53627c;
  margin: 0.5rem 1.5rem -0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.inputSuggestion {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #bcc2cc;
}
.inputSuggestion strong {
  color: var(--ifm-color-primary-dark);
}
[data-theme='dark'] .inputSuggestion {
  color: var(--ifm-color-gray-300);
}
[data-theme='dark'] .inputSuggestion strong {
  color: var(--ifm-color-primary-light);
}

.isBanned_container {
  background: #fff;
  width: 100%;
  padding: 0.75rem 1.5rem 1.25rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 8px -3px #00000014;
}
[data-theme='dark'] .isBanned_container {
  background: #ffffff0d;
}

.header {
  margin: 0.5em 0;
}
.publicKey,
.serial {
  margin: 0;
  font-size: smaller;
  display: flex;
  gap: 0.5em;
}
.publicKeyTruncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  flex: 1;
}
