.DeviceKeys {
    width: 100%;
    padding: 0.5em;
}

.keybox {
    display: flex;
    flex-direction: column;
}

.keybox label {
    font-weight: 500;
    color: #53627c;
    font-size: small;
    background-color: #eaeff9;
    padding: .5em 1rem calc(0.5em + 4px) 1rem;
    border-radius: 8px 8px 0 0;
}

.keybox input {
    display: table;
    background: white;
    width: 100%;
    table-layout: fixed;
    border: none;
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    margin-top: -8px;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
}

.keybox input:focus {
    outline-color: rgb(47, 98, 192);
}

.keybox input::placeholder {
    color: #aaadb4;
}

.keybox input:focus:placeholder {
    outline: none;
}

.createDeviceButton {
    appearance: none;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 6px -3px #0000001a;
    font-size: 1em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}


.createDeviceButton:disabled {
    background-color: beige;
}