.componentSpacing {
    padding: 16px 16px 0;
}

.dcEstTable, .interactiveBox {
    display: table;
    background: white;
    width: 100%;
    table-layout: fixed;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.08);
}
.interactiveBox {
    display: block;
    padding: 16px 16px 0;
    margin-bottom: 1em;
}

.dcEstTable td,
.dcEstTable th {
    border: none;
}
.dcEstTable tr {
    border: none;
}
.dcEstTable th {
    font-weight: 500;
    background: #eaeff9;
    color: #53627c;
    padding: 0.5em;
    border-right: 2px solid white;
}
.dcEstTable th:first-child {
    border-top-left-radius: 8px;
}
.dcEstTable th:last-child {
    border-top-right-radius: 8px;
    border: none;
}
.dcEstTable td {
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.inputContainer {
    display: flex; 
    padding: 0.125em 0 0.125em 0;
}

.inputContainer input {
    flex: 1 1 auto;
}

.pricesContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.setToLivePriceButton {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #5a719a;
    padding-left: 1em;
    font-size: 1.125rem;
    line-height: 1.65rem;
    text-align: right;
    font-variant-numeric: tabular-nums;
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.setToLivePriceButton:hover {
    color: rgb(18, 49, 103);
}

.textUnderline {
    text-decoration: underline;
}