.tlembed {
    width: 720px;
    min-height: 480px;
    height: 100%;
}


@media screen and (max-width: 720px) {
    .tlembed {
        width: 100% !important;
        height: 100%;
        min-height: 420px;
    }
}

.tlembedWrapper {
    padding: 1.25em 5vw 1em;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    figcaption {
        margin-top: 0.5rem;
    }
}
