.tlembed {
  width: 100%;
  min-height: 360px;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .tlembed {
    min-height: 420px;
  }
}

.tlembedWrapper {
  padding: 1.25em 5vw 1em;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.tlembedWrapper > p {
  font-weight: 500;
  margin: 0 0 0.75em;
}

.tlembedWrapper figcaption {
  margin-top: 0.5rem;
}
